* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body,
html {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

.container {
    display: grid;
    grid-template-areas:
        'head head head'
        'label1 input1 input1'
        'label2 input2 input2'
        'add-btn add-btn add-btn'
        'reset-btn reset-btn reset-btn'
    ;
    text-align: center;
    justify-content: center;
    grid-gap: 1.2rem;
}

#head {
    grid-area: head;
    font-size: xxx-large;
    background-color: rgb(98, 38, 38);
}

#label1 {
    grid-area: label1;
    font-size: x-large;
}

#input1 {
    grid-area: input1;
    height: 35px;
    width: 160px;
    border: none;
    border-radius: 4px;
}

#label2 {
    grid-area: label2;
    font-size: x-large;
}

#input2 {
    grid-area: input2;
    height: 35px;
    width: 160px;
    border: none;
    border-radius: 4px;
}

#add-btn {
    grid-area: add-btn;
    height: 30px;
    border: none;
    border-radius: 4px;
    background-color: green;
    color: white;
}
#reset-btn {
    grid-area: reset-btn;
    height: 30px;
    border: none;
    border-radius: 4px;
    background-color: maroon;
    color: white;
}

::placeholder {
    text-align: center;
    color: black;
}

input[type="date"] {
    text-align: center;

}

.container-task-list {
    margin-top: 45px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    justify-content: center;
    grid-gap: 1.2rem;
    background-color: white;
    padding: 5px 0px 5px 0px;
    height: auto;
    width: 100%;
    color: black;
    padding: 20px 20px 20px 0px;
    border: 3px solid green;
}

.task-html {
    font-size: medium;
    align-self: center;
    justify-self: center;
}

.date-html {
    font-size: medium;
    align-self: center;
    justify-self: center;
}

.delete-btn {
    border: none;
    border-radius: 4px;
    background-color: maroon;
    color: white;
    width: 110px;
    height: 35px;
}